.ocean
      background-image: url('../images/ocean.jpg')
.pirate-ship
      background-image: url('../images/pirate-ship.jpg')
.beach
      background-image: url('../images/beach.jpg')
.compass
      background-image: url('../images/compass.jpg')
.fishing
      background-image: url('../images/fishing.jpg')
.cabrit
      background-image: url('../images/cabrit.jpg')
.diving
      background-image: url('../images/diving.jpg')
.goat-eat
      background-image: url('../images/goat-eat.jpg')
.landscape
      background-image: url('../images/landscape.jpg')
.cabin
      background-image: url('../images/cabin.jpg')
::selection
        background-color: #111
        color: #ddd
