doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title An unusual  hotel
    meta(name='description', content='An unusual hotel: The pirate boat hotel!')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

        section(data-bespoke-backdrop='ocean')
            h2 We are happy to introduce you to...

        section(data-bespoke-backdrop='pirate-ship')
            h1 The Pirate Boat Hotel

        section(data-bespoke-backdrop='beach')
            h2.bullet Where?
            iframe.bullet(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d36914.0252806951!2d-61.60814707327413!3d15.861203433567646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1443339246207' width='600' height='450' frameborder='0' style='border:0' allowfullscreen)

        section
            h2.bullet Suggested activities:
            ul
                li treasure hunting
                li fishing
                li visiting the goats
                li scuba diving
                li learn how the old boat works
                li an extraordinary fight

        section(data-bespoke-backdrop='compass')
            h2 The treasear hunt

        section(data-bespoke-backdrop='fishing')
            h2 Go fishing

        section(data-bespoke-backdrop='cabrit')
            h2 Visit the goats: "cabrit"

        section
            h3.bullet  and... we will kill them...
            h3.bullet Sorry...

        section(data-bespoke-backdrop='diving')
            h2 Scuba diving
            
        section(data-bespoke-backdrop='drive')
            h2 Drive like a pirate
        
        section(data-bespoke-backdrop='fight')
            h2 The fight
        
        section
            h3.bullet And the principal facility...
            h2.bullet The restaurant

        section
            h2 Pirate chocolate balls made by Amandine
            h3 In french "boulettes de chocolat de pirate"

        section(data-bespoke-backdrop='goat-eat')
            h2 And the goats...
        
        section(data-bespoke-backdrop='fish')
            h2 Fishes

        section(data-bespoke-backdrop='landscape')
            h2 An amazing landscape

        section(data-bespoke-backdrop='cabin')
            h2 16 cabins for the customers

        section
            h2 Thank you!

    audio#music(src='sounds/music.mp3'  preload)
    script(src='build/build.js')
